@import "tailwindcss";

@theme {
    --color-netflix-black: oklch(0.03 0 0);
    --color-netflix-red: oklch(0.5 0.25 29);
    --color-netflix-gray: oklch(0.2 0 0);


    --color-netflix-gradient: linear-gradient(
        to top,
        var(--color-netflix-black-transparent) 0%,
        var(--color-netflix-gray-transparent) 60%,
        var(--color-netflix-black-transparent) 100%
    );

    --font-roboto: "Roboto", "sans-serif";
    --font-poppins: "Poppins", "sans-serif";
    }